body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.calculator {
    height: 640px;
    width: 640px;
    border: 1px solid lightgrey;
    background-color: #f8f9fa;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.calculator-display {
    flex: 2;
    border: 1px solid black;
}

.calculator-buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex: 1;
    gap: 4px;
}

.calculator-buttons button {
    padding: 4px 0;
    font-size: 16px;
}

.calculator-math {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 4px;
}

.calculator-math div {
    display: flex;
    gap: 4px;
}

.calculator-math button {
    flex: 1;
}

.calculator-math #zero {
    flex: 3;
}

.calculator-executions {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 15%;
    height: 75%;
}


.calculator-display {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.calculator-display > div {
    display: flex;
    justify-content: space-between;
    padding: 4px 16px;
    border: 1px solid black;
    font-size: 18px;
}