body {
  margin: 0;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.calculator {
  height: 512px;
  width: 384px;
  border: 1px solid lightgrey;
  background-color: #f8f9fa;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
}

.calculator-display {
  flex: 1;
  border: 1px solid black;
}

.calculator-buttons {
  display: flex;
  flex-direction: column;
  flex: 4;
  gap: 4px;
}

.calculator-buttons button {
  padding: 4px 0;
  font-size: 32px;
}

.calculator-buttons div {
  display: flex;
  flex: 1;
  gap: 4px;
}

.calculator-buttons button {
  flex: 1;
}

.calculator-buttons #zero {
  flex: 3;
}

.calculator-buttons #clear {
  flex: 3;
}
